/PhotoGallery/PhotoGallery/node_modules
/PhotoGallery/PhotoGallery/bower_components
/PhotoGallery/PhotoGallery/obj
/PhotoGallery/PhotoGallery/bin
/PhotoGallery/PhotoGallery/dist
/.vs
/PhotoGallery/.vs
